.red{
	background: #f00;
	color: #fff;
}
.action-gray{
	background: #888;
	color: #fff;
}
.action-gray:hover{ background: #aaa; }
.action-gray:active{ background: #666; }
.action-gray:focus{ background: #888; }
.padding-0{
	padding: 0px;
}
.margin-0{
	margin: 0px;
}
.hflex{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.vflex{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
