.red{
	background: #f00;
	color: #fff;
}
.padding-0{
	padding: 0px;
}
.margin-0{
	margin: 0px;
}
.hflex{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.vflex{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
