*{
	outline: none;
}
html, body{
	padding: 0px;
	margin: 0px;
	border: 0px;
}
body {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-focus-ring-color: rgba(255, 255, 255, 0);
	outline: none;

	-moz-user-select: none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	resize: none;

	-webkit-text-size-adjust: none;
}
input, textarea {
	-moz-user-select: text;
	-o-user-select: text;
	-khtml-user-select: text;
	-webkit-user-select: text;
	user-select: text;
	resize: none;
}
.anim{
	transition: 0.2s;
}
.red{
	background: #f00;
	color: #fff;
}
.action-gray{
	background: #888;
	color: #fff;
}
.action-gray:hover{ background: #aaa; }
.action-gray:active{ background: #666; }
.action-gray:focus{ background: #888; }
.padding-0{
	padding: 0px;
}
.margin-0{
	margin: 0px;
}
.hflex{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.vflex{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
